.catalog {
   padding: var(--big-offset) 0;

   &__left {
      grid-column: 3 span;
   }

   &-filters {
      background-color: var(--color-bg);
      border-radius: 4px;
      padding: var(--second-offset);

      &__btns {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }

   &__grid {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-column: 9 span;
   }

   &__subtitle {
      margin: 0;
      font: var(--prehigh-book);
      margin-bottom: var(--second-offset);
   }

   &__caption {
      display: block;
      margin-bottom: var(--small-offset);
      font: var(--middle-book);
      color: var(--color-main);
   }

   &__prop {
      margin-bottom: var(--second-offset);
   }

   &__prop-checkboxes {
      display: flex;
      justify-content: space-between;
   }

   &__apply {
      width: 100%;
      margin-bottom: var(--second-offset);
   }

   &__more {
      margin-top: var(--big-offset);
   }
}

.catalog-list {
   grid-template-columns: repeat(9, 1fr);

   &__item {
      grid-column: 3 span;
   }
}

.catalog-price {
   &__wrapper {
      display: flex;
      flex-wrap: wrap;
      position: relative;

      &::before {
         content: "";
         position: absolute;
         left: 50%;
         top: 8px;
         bottom: 8px;
         width: 1px;
         height: 34px;
         background-color: var(--color-grey);
         transform: translateX(-50%);
      }
   }

   &__input {
      border: 1px solid var(--color-grey);
      width: 50%;
      height: 50px;
      background-color: transparent;
      font: var(--middle-book);
      text-align: center;
      color: var(--color-main);

      &:first-child {
         border-right: none;
         border-top-left-radius: 4px;
         border-bottom-left-radius: 4px;
      }

      &:last-child {
         border-left: none;
         border-top-right-radius: 4px;
         border-bottom-right-radius: 4px;
      }
   }

   .noUi-origin {
      width: 100%;
   }

   .noUi-horizontal {
      height: 2px;
   }

   .noUi-target {
      background-color: var(--color-main);
      border: none;
      box-shadow: none;
   }

   .noUi-connect {
      background-color: var(--color-main);
   }

   .noUi-horizontal .noUi-handle {
      width: 3px;
      height: 18px;
      top: -8px;
   }

   .noUi-handle {
      border: none;
      background-color: var(--color-main);
      border-radius: 3px;
      cursor: pointer;
      box-shadow: none;
      right: 0;

   }

   .noUi-handle::before,
   .noUi-handle::after {
      display: none;
   }

   .noUi-handle-lower {
      right: -3px;
   }

}